.header {

    font-size: larger;
    background: #ffffff;
    font-family: 'Roboto';
    display: table; /*!*/

  }
  .header img {
    position: left;
    width: 150px;
    height: 50px;
    margin-right: 210px;
    display: table-cell; /*!*/
    vertical-align: middle; /*!*/
    margin-top:2px;
  }



    a {
      
      text-align: center;
      outline: none;
      text-decoration: none;
      outline: none;
      display: inline-block;
      margin-right: 240px;

    }
    
    a:link {
      color: #010101;
    }
    
    a:visited {
      color: #1f0f1a;
      
    }
    
    a:focus {
      font-weight: bold;
    }
    
    a:hover {
      font-weight: bold;
    }
    
    a:active {
      color: #060105;
      font-weight: bold;
    }
  
    .btn {
    background-color:#C6155F; 
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px; /* Скругляем уголки */
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;   
     }

    

  