body{
    background-color: #fff; 
    font-family: 'Roboto';
   } 
 
  
 .main-page-inf
 {
 margin-top: 20%;
 margin-bottom: 13%;
 font-style: normal;
 font-weight: 500;
 font-size: 42px;
 line-height: 56px;
 color: #502EDD;
 margin-left: auto;
 margin-right: auto;
 width: fit-content;
 }